In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv(r"C:\Users\Lenovo\Desktop\level1 p1\training_data.csv")
test=pd.read_csv(r"C:\Users\Lenovo\Desktop\level1 p1\test_data.csv")

In [3]:
train.head()

,Row_ID,Application,Device,Launch_Year,Domain,Developer_comapny,Indian_Sales,China_Sales,Korea_Sales,Other_Sales,Global_Sales,ScorebyCritic,No_ofCritics,ScorebyUser,No_ofUsers,Developer,Overall_Rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
test.head()

,Row_ID,Application,Device,Launch_Year,Domain,Developer_comapny,Indian_Sales,China_Sales,Korea_Sales,Other_Sales,ScorebyCritic,No_ofCritics,ScorebyUser,No_ofUsers,Developer,Overall_Rating
0,0,ZooCube,GC,2002.0,Puzzle,Acclaim Entertainment,0.02,0.00,0.00,0.0,67.0,15.0,6.1,7.0,PuzzleKings,E
1,1,GRID Autosport,PC,2014.0,Racing,Codemasters,0.00,0.02,0.00,0.0,78.0,35.0,6.2,257.0,Codemasters,E
2,2,Spy Hunter / Super Sprint,GBA,2005.0,Racing,Zoo Digital Publishing,0.02,0.01,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Demon Gaze 2,PSV,2014.0,Role-Playing,Experience Inc.,0.00,0.00,0.02,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Clover no Kuni no Alice: Wonderful Wonder World,PS2,2010.0,Adventure,Prototype,0.00,0.00,0.02,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
Row_ID=test['Row_ID']

In [6]:
train.drop(['Row_ID','Application'],axis=1,inplace=True)
train.head()

,Device,Launch_Year,Domain,Developer_comapny,Indian_Sales,China_Sales,Korea_Sales,Other_Sales,Global_Sales,ScorebyCritic,No_ofCritics,ScorebyUser,No_ofUsers,Developer,Overall_Rating
0,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
train_na=train.isnull().sum(axis=0).sort_values(ascending=False)/float(len(train))

In [8]:
train_na

No_ofUsers           0.522172
No_ofCritics         0.489694
ScorebyCritic        0.489694
Overall_Rating       0.381747
ScorebyUser          0.378492
Developer            0.374424
Launch_Year          0.015663
Developer_comapny    0.002780
Domain               0.000136
Global_Sales         0.000000
Other_Sales          0.000000
Korea_Sales          0.000000
China_Sales          0.000000
Indian_Sales         0.000000
Device               0.000000
dtype: float64

In [9]:
test_na=test.isnull().sum(axis=0).sort_values(ascending=False)/float(len(test))

In [10]:
test_na

No_ofUsers           0.715560
No_ofCritics         0.682359
ScorebyCritic        0.682359
Overall_Rating       0.572349
ScorebyUser          0.563925
Developer            0.553518
Launch_Year          0.018831
Developer_comapny    0.006442
Other_Sales          0.000000
Korea_Sales          0.000000
China_Sales          0.000000
Indian_Sales         0.000000
Domain               0.000000
Device               0.000000
Application          0.000000
Row_ID               0.000000
dtype: float64

In [11]:
train.isnull().sum()

Device                  0
Launch_Year           231
Domain                  2
Developer_comapny      41
Indian_Sales            0
China_Sales             0
Korea_Sales             0
Other_Sales             0
Global_Sales            0
ScorebyCritic        7222
No_ofCritics         7222
ScorebyUser          5582
No_ofUsers           7701
Developer            5522
Overall_Rating       5630
dtype: int64

In [12]:
train.describe(include='all')

,Device,Launch_Year,Domain,Developer_comapny,Indian_Sales,China_Sales,Korea_Sales,Other_Sales,Global_Sales,ScorebyCritic,No_ofCritics,ScorebyUser,No_ofUsers,Developer,Overall_Rating
count,14748,14517.000000,14746,14707,14748.000000,14748.000000,14748.000000,14748.000000,14748.000000,7526.000000,7526.000000,9166,7047.000000,9226,9118
unique,31,NaN,12,518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96,NaN,1576,8
top,PS2,NaN,Action,Electronic Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tbd,NaN,Ubisoft,E
freq,1932,NaN,2995,1294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2119,NaN,196,3643
mean,NaN,2006.217676,NaN,NaN,0.273585,0.149364,0.079891,0.048842,0.551876,69.181637,26.830853,NaN,161.749255,NaN,NaN
std,NaN,5.944182,NaN,NaN,0.728272,0.456193,0.286014,0.159235,1.372658,13.833710,19.094734,NaN,555.912492,NaN,NaN
min,NaN,1980.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.020000,13.000000,3.000000,NaN,4.000000,NaN,NaN
25%,NaN,2003.000000,NaN,NaN,0.020000,0.000000,0.000000,0.000000,0.080000,61.000000,12.000000,NaN,10.000000,NaN,NaN
50%,NaN,2007.000000,NaN,NaN,0.090000,0.030000,0.000000,0.010000,0.200000,71.000000,22.000000,NaN,24.000000,NaN,NaN
75%,NaN,2010.000000,NaN,NaN,0.260000,0.120000,0.050000,0.040000,0.510000,80.000000,37.000000,NaN,82.000000,NaN,NaN
max,NaN,2020.000000,NaN,NaN,41.360000,28.960000,10.220000,8.450000,82.530000,98.000000,113.000000,NaN,10665.000000,NaN,NaN

In [13]:
train.shape

(14748, 15)

In [14]:
train_num_col=[i for i in train.columns if train[i].dtype != 'O' and train[i].isna().sum()>1]

In [15]:
test_num_na = [i for i in test.columns if test[i].dtype != 'O' and test[i].isna().sum()>1]

In [16]:
for feature in train_num_col:
    train[feature].fillna(train[feature].mean(), inplace=True)

In [17]:
for feature in test_num_na:
    test[feature].fillna(test[feature].mean(), inplace=True)

In [18]:
train.isnull().sum()

Device                  0
Launch_Year             0
Domain                  2
Developer_comapny      41
Indian_Sales            0
China_Sales             0
Korea_Sales             0
Other_Sales             0
Global_Sales            0
ScorebyCritic           0
No_ofCritics            0
ScorebyUser          5582
No_ofUsers              0
Developer            5522
Overall_Rating       5630
dtype: int64

In [19]:
test.isnull().sum()

Row_ID                  0
Application             0
Device                  0
Launch_Year             0
Domain                  0
Developer_comapny      13
Indian_Sales            0
China_Sales             0
Korea_Sales             0
Other_Sales             0
ScorebyCritic           0
No_ofCritics            0
ScorebyUser          1138
No_ofUsers              0
Developer            1117
Overall_Rating       1155
dtype: int64

In [20]:
train_cat_feature = [i for i in train.columns if train[i].dtype == 'O']
test_cat_feature = [i for i in test.columns if test[i].dtype == 'O']

In [21]:
train.drop(['Developer_comapny','ScorebyUser'], axis = 1, inplace=True)
test.drop(['Developer_comapny','ScorebyUser'], axis = 1, inplace=True)

In [22]:
train_cat_na = [i for i in train.columns if train[i].dtype == 'O' and train[i].isna().sum()>1 ]
test_cat_na = [i for i in test.columns if test[i].dtype == 'O' and test[i].isna().sum()>1 ]

In [23]:
train.isnull().sum()

Device               0
Launch_Year          0
Domain               2
Indian_Sales         0
China_Sales          0
Korea_Sales          0
Other_Sales          0
Global_Sales         0
ScorebyCritic        0
No_ofCritics         0
No_ofUsers           0
Developer         5522
Overall_Rating    5630
dtype: int64

In [24]:
for feature in train_cat_na:
    train[feature].fillna("Missing", inplace=True)

In [25]:
for feature in test_cat_na:
    test[feature].fillna("Missing", inplace=True)

In [26]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x=train
for i in range(0,x.shape[1]):
    if x.dtypes[i]=='object':
        x[x.columns[i]]=le.fit_transform(x[x.columns[i]])

In [27]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x=test
for i in range(0,x.shape[1]):
    if x.dtypes[i]=='object':
        x[x.columns[i]]=le.fit_transform(x[x.columns[i]])

In [28]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14748 entries, 0 to 14747
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Device          14748 non-null  int32
 1   Launch_Year     14748 non-null  float64
 2   Domain          14748 non-null  int32
 3   Indian_Sales    14748 non-null  float64
 4   China_Sales     14748 non-null  float64
 5   Korea_Sales     14748 non-null  float64
 6   Other_Sales     14748 non-null  float64
 7   Global_Sales    14748 non-null  float64
 8   ScorebyCritic   14748 non-null  float64
 9   No_ofCritics    14748 non-null  float64
 10  No_ofUsers      14748 non-null  float64
 11  Developer       14748 non-null  int32
 12  Overall_Rating  14748 non-null  int32
dtypes: float64(9), int32(4)
memory usage: 1.2 MB

In [29]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018 entries, 0 to 2017
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row_ID          2018 non-null   int64
 1   Application     2018 non-null   int32
 2   Device          2018 non-null   int32
 3   Launch_Year     2018 non-null   float64
 4   Domain          2018 non-null   int32
 5   Indian_Sales    2018 non-null   float64
 6   China_Sales     2018 non-null   float64
 7   Korea_Sales     2018 non-null   float64
 8   Other_Sales     2018 non-null   float64
 9   ScorebyCritic   2018 non-null   float64
 10  No_ofCritics    2018 non-null   float64
 11  No_ofUsers      2018 non-null   float64
 12  Developer       2018 non-null   int32
 13  Overall_Rating  2018 non-null   int32
dtypes: float64(8), int32(5), int64(1)
memory usage: 181.4 KB

In [30]:
x = train.drop(columns = ['Global_Sales'])
y = train['Global_Sales']

In [31]:
test.shape

(2018, 14)

In [32]:
x.shape

(14748, 12)

In [33]:
#splitting
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [34]:
from sklearn.linear_model import LinearRegression
reg_model  = LinearRegression()

In [35]:
reg_model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [36]:
pred = reg_model.predict(x_test)

In [37]:
df = pd.DataFrame({"Actual":y_test,"Predicted":pred})

In [38]:
df

       Actual  Predicted
11482    0.08   0.080275
3435     0.57   0.570351
7645     0.19   0.190253
11723    0.07   0.070282
13038    0.05   0.040195
...       ...        ...
11965    0.07   0.070308
6051     0.27   0.280173
4240     0.44   0.440170
4911     0.37   0.370262
2244     0.91   0.920240

[2950 rows x 2 columns]

In [39]:
reg_model.score(x_train, y_train)

0.9999848481994966

In [40]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [41]:
mse = mean_squared_error(df.Actual, df.Predicted)
mae = mean_absolute_error(df.Actual, df.Predicted)
mse,mae

(2.9195523130031783e-05, 0.0030800813401206367)

In [42]:
np.sqrt(mse)

0.005403288177585181

In [43]:
test.drop(['Row_ID','Application'],axis=1,inplace=True)

In [44]:
new = reg_model.predict(test)

In [45]:
new_df = pd.DataFrame({"Row_ID":Row_ID,"Global_Sales":new})

In [46]:
new_df.to_csv(r"C:\Users\Lenovo\Desktop\level1 p1\sub1.csv", index=False)